* {
  margin: 0;
  padding: 0;
}

body {
  background: #efefef;
  font-family: 'Microsoft Yahei', sans-serif;
  font-size: 14px;
  color: #835426;
}

.wrapper {
  width: 400px;
  float: left;
  padding: 20px;
  background-color: #fff;
}

.chat-list {
  width: 100%;
}

.chat-item {
  display: block;
  width: 100%;
  padding-top: 5px;
}

.chat-item.left {
  float: left;
}

.chat-item.right {
  float: right;
}

.chat-item:after {
  content: '';
  display: block;
  clear: both;
  visibility: hidden;
  width: 0;
  height: 0;
}

.chat-avatar {
  display: inline-block;
  width: 40px;
  border-radius: 50%;
  border: 1px solid #cdcdcd;
}

.bubble-item {
  display: inline-block;
  max-width: 300px;
}

.chat-item.left .chat-avatar,
.chat-item.left .bubble-item {
  float: left;
}

.chat-item.right .chat-avatar,
.chat-item.right .bubble-item {
  float: right;
}

.chat-item.left .chat-avatar {
  margin-right: 10px;
}

.chat-item.right .chat-avatar {
  margin-left: 10px;
}

/**
 * 气泡关键代码
 */
.bubble-item {
  position: relative;
}

.cell {
  position: absolute;
}

.bubble-bear .cell-1,
.bubble-bear .cell-3,
.bubble-bear .cell-5,
.bubble-bear .cell-7,
.bubble-dinosaur .cell-1,
.bubble-dinosaur .cell-3,
.bubble-dinosaur .cell-5,
.bubble-dinosaur .cell-7,
.bubble-luffy .cell-1,
.bubble-luffy .cell-3,
.bubble-luffy .cell-5,
.bubble-luffy .cell-7 {
  background: url(../img/bubbles.png) no-repeat;
}

.chat-content {
  position: relative;
  z-index: 10;
}

/* bear */

.left .bubble-bear .chat-content {
  margin: 17px 32px 15px 18px;
  display: inline-block;
  background-color: #fff8ef;
}

.left .bubble-bear .cell-1 {
  left: 0;
  top: 6px;
  width: 20px;
  height: 20px;
  background-position: -3px -10px;
}

.left .bubble-bear .cell-2 {
  left: 20px;
  top: 11px;
  right: 20px;
  height: 16px;
  background-color: #fff8ef;
  border-top: 1px solid #835426;
}

.left .bubble-bear .cell-3 {
  right: 0;
  top: 0;
  width: 60px;
  height: 28px;
  background-position: -58px -4px;
}

.left .bubble-bear .cell-4 {
  top: 28px;
  right: 6px;
  bottom: 10px;
  width: 60px;
  background-color: #fff8ef;
  border-right: 1px solid #835426;
}

.left .bubble-bear .cell-5 {
  right: 0;
  bottom: 0;
  width: 60px;
  height: 16px;
  background-position: -58px -50px;
}

.left .bubble-bear .cell-6 {
  right: 60px;
  bottom: 6px;
  left: 20px;
  height: 10px;
  background-color: #fff8ef;
  border-bottom: 1px solid #835426;
}

.left .bubble-bear .cell-7 {
  left: 0;
  bottom: 0;
  width: 20px;
  height: 20px;
  background-position: -3px -46px;
}

.left .bubble-bear .cell-8 {
  top: 25px;
  bottom: 20px;
  left: 4px;
  width: 20px;
  background-color: #fff8ef;
  border-left: 1px solid #835426;
}

.right .bubble-bear .chat-content {
  margin: 18px 18px 8px 32px;
  display: inline-block;
  background-color: #fff8ef;
}

.right .bubble-bear .cell-1 {
  left: 2px;
  top: 0;
  width: 60px;
  height: 28px;
  background-position: -124px -4px;
}

.right .bubble-bear .cell-2 {
  left: 60px;
  top: 11px;
  right: 20px;
  height: 16px;
  background-color: #fff8ef;
  border-top: 1px solid #835426;
}

.right .bubble-bear .cell-3 {
  right: 0;
  top: 5px;
  width: 20px;
  height: 20px;
  background-position: -219px -8px;
}

.right .bubble-bear .cell-4 {
  top: 23px;
  right: 6px;
  bottom: 16px;
  width: 20px;
  background-color: #fff8ef;
  border-right: 1px solid #835426;
}

.right .bubble-bear .cell-5 {
  right: 0;
  bottom: 0;
  width: 20px;
  height: 16px;
  background-position: -219px -43px;
}

.right .bubble-bear .cell-6 {
  right: 20px;
  bottom: 0;
  left: 20px;
  height: 10px;
  background-color: #fff8ef;
  border-bottom: 1px solid #835426;
}

.right .bubble-bear .cell-7 {
  left: 0;
  bottom: 0;
  width: 40px;
  height: 20px;
  background-position: -122px -40px;
}

.right .bubble-bear .cell-8 {
  top: 28px;
  bottom: 20px;
  left: 6px;
  width: 60px;
  background-color: #fff8ef;
  border-left: 1px solid #835426;
}

/* dinosaur */

.left .bubble-dinosaur .chat-content {
  margin: 17px 32px 10px 18px;
  display: inline-block;
  background-color: #8acc8e;
  color: #030001;
}

.left .bubble-dinosaur .cell-1 {
  left: 0;
  top: 6px;
  width: 20px;
  height: 20px;
  background-position: -3px -74px;
}

.left .bubble-dinosaur .cell-2 {
  left: 20px;
  top: 11px;
  right: 20px;
  height: 16px;
  background-color: #8acc8e;
  border-top: 1px solid #030001;
}

.left .bubble-dinosaur .cell-3 {
  right: 0;
  top: 0;
  width: 70px;
  height: 28px;
  background-position: -48px -68px;
}

.left .bubble-dinosaur .cell-4 {
  top: 28px;
  right: 6px;
  bottom: 10px;
  width: 70px;
  background-color: #8acc8e;
  border-right: 1px solid #030001;
}

.left .bubble-dinosaur .cell-5 {
  right: 0;
  bottom: 0;
  width: 60px;
  height: 16px;
  background-position: -55px -108px;
}

.left .bubble-dinosaur .cell-6 {
  right: 60px;
  bottom: 0;
  left: 20px;
  height: 10px;
  background-color: #8acc8e;
  border-bottom: 1px solid #030001;
}

.left .bubble-dinosaur .cell-7 {
  left: 0;
  bottom: 0;
  width: 20px;
  height: 20px;
  background-position: -3px -104px;
}

.left .bubble-dinosaur .cell-8 {
  top: 25px;
  bottom: 20px;
  left: 5px;
  width: 20px;
  background-color: #8acc8e;
  border-left: 1px solid #030001;
}

.right .bubble-dinosaur .chat-content {
  margin: 18px 18px 10px 38px;
  display: inline-block;
  background-color: #8acc8e;
  color: #030001;
}

.right .bubble-dinosaur .cell-1 {
  left: 2px;
  top: 0;
  width: 40px;
  height: 40px;
  background-position: -120px -68px;
}

.right .bubble-dinosaur .cell-2 {
  left: 40px;
  top: 10px;
  right: 20px;
  height: 16px;
  background-color: #8acc8e;
  border-top: 1px solid #030001;
}

.right .bubble-dinosaur .cell-3 {
  right: 0;
  top: 0;
  width: 20px;
  height: 26px;
  background-position: -219px -70px;
}

.right .bubble-dinosaur .cell-4 {
  top: 26px;
  right: 8px;
  bottom: 20px;
  width: 20px;
  background-color: #8acc8e;
  border-right: 1px solid #030001;
}

.right .bubble-dinosaur .cell-5 {
  right: 1px;
  bottom: 0;
  width: 20px;
  height: 24px;
  background-position: -218px -100px;
}

.right .bubble-dinosaur .cell-6 {
  right: 20px;
  bottom: 0;
  left: 30px;
  height: 10px;
  background-color: #8acc8e;
  border-bottom: 1px solid #030001;
}

.right .bubble-dinosaur .cell-7 {
  left: 4px;
  bottom: 0;
  width: 40px;
  height: 16px;
  background-position: -122px -108px;
}

.right .bubble-dinosaur .cell-8 {
  top: 33px;
  bottom: 16px;
  left: 12px;
  width: 60px;
  background-color: #8acc8e;
  border-left: 1px solid #030001;
} 

/* luffy */

.left .bubble-luffy .chat-content,
.right .bubble-luffy .chat-content{
  background-color: #feefc8;
  color: #000;
  border: 1px solid #000;
  border-radius: 10px;
  padding: 10px;
}

.left .bubble-luffy .chat-content {
  margin: 20px 35px 10px 0;
  display: inline-block;
  padding-right: 20px;
}

.left .bubble-luffy .cell-5 {
  right: 0;
  bottom: 0;
  width: 50px;
  height: 70px;
  background-position: -5px -130px;
  z-index: 10;
}

.right .bubble-luffy .chat-content {
  margin: 20px 15px 10px 35px;
  display: inline-block;
  padding-left: 20px;
}

.right .bubble-luffy .cell-7 {
  left: 4px;
  bottom: 0;
  width: 50px;
  height: 70px;
  background-position: -62px -130px;
  z-index: 10;
}
